.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
  background: whitesmoke;

  a, .btn {
    margin: 0 0.5rem;
  }

}

a {
  color: teal;

  &:active {
    color: darken(teal, 10%);
  }
}

.title--centered {
  color: yellow;
  margin: 1rem;
  text-align: center;
  text-decoration: underline;
}

.movie {
  display: flex;
  flex-direction: column;
  max-width: $tablet-width;
  margin: 1rem auto;
  padding: 1rem;
  background: whitesmoke;
  box-shadow: $box-shadow-glow;
  border-radius: 6px;
  
  img {
    width: 100%;
    max-width: $tablet-width;
    margin: 0 auto 1rem auto; 
    border-radius: 8px;
    object-fit: contain; 
  }

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $tablet-width;
  margin: 1rem auto;
  padding: 1rem;
  background: whitesmoke;
  box-shadow: $box-shadow-glow;
  border-radius: 6px;

  .field {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: $tablet-width / 2;
    margin: 0 auto;
  }

  input, textarea {
    margin: 1rem 0;
    padding: 0.25rem;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 0.9rem;
    resize: none;
    outline: none;
  }

  input {
    height: 24px;
  }

  textarea {
    height: 150px;
  }

  .btn--primary {
    width: 50%;
    margin: 1rem auto;
  }

  &__auth-form {
    @extend .form;
    padding: 4rem 1rem;
  }

  a {
    margin: 0 auto;
  }

}

.btn {
  padding: 0.5rem;
  border: none;
  background: white;
  border-radius: 3px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;

  &--primary {
    @extend .btn;
    border: 1px solid teal;
    color: teal;

    &:hover {
      background: lightgrey;
    }
  }

  &--secondary {
    @extend .btn;
    border: 1px solid grey;
    color: grey;

    &:hover {
      background: lightgrey;
    }
  }
}

