@import './variables';
@import './mixins';
@import './Loading';
@import './App';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Avenir, sans-serif;
  background: url('../../images/space-background.png');
}
